.post {
  background-color: #fff;
  box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.25);
  padding: 25px;
  border-radius: 7px;
  max-width: 1100px;
  margin: 0 auto;
  .skelet {
    animation: skeleton 1s ease-in-out infinite alternate;
  }
  &__content {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 25px;
    overflow-x: hidden;
    .createdAt.skelet {
      height: 16px;
      width: 200px;
      background-color: #ddd;
    }
  }
  &__text {
    font-size: 20px;
    line-height: 23px;
    white-space: break-spaces;
    &.skelet {
      height: 23px;
      background-color: #ddd;
      width: 100%;
    }
  }
  &__title {  
    font-size: 28px;
    line-height: 33px;
    margin-bottom: 25px;
    &.skelet {
      min-height: 33px;
      margin-bottom: 25px;
      background-color: #ddd;
      width: 80%;
    }
  }
  .metaData {
    margin-bottom: 15px;
  }
  &__btns {
    display: flex;
    gap: 28px;
    padding: 15px 0;
    .icon-btn:first-child {
      pointer-events: none;
    }
  }
  &__asset {
    max-width: 100%;
    display: block;
    margin: 0 auto;
    max-height: 70vh;
  }
  &__asset-box {
    background-color: #000;
  }
}
@keyframes skeleton {
  from {
    opacity: 0.5;
  }

  to {
    opacity: 1;
  }
}