@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root {
  --black:  #333333;
  --orange: #CC6633;
  --green:  #A4CC33;
  --white:  #fff;
  --grayF4: #f4f4f4;
  --greyF3: #f3f3f3;
  --greyEC: #ececec;
  --greyD9: #d9d9d9;
  --greyC4: #c4c4c4;
  --grey99: #999;
  --grey66: #666;
}

body {
  padding: 0;
  margin: 0;
  background-color: var(--grayF4);
  font-size: 14px;
  line-height: 16px;
  font-family: 'Roboto', serif;
  &::-webkit-scrollbar {
    width: 14px;
    box-shadow: 2px 2px 5px 5px rgba(#333, 0.4) inset;
    background: #eee;
  }
  &::-webkit-scrollbar-thumb {
    box-shadow: -10px 5px 5px -5px rgba(#efb058, 0.6) inset, 0 0px 6px 2px rgba(#333, 0.4);
    border-radius: 10px;
    background: var(--orange);
  }
}

* {
  color: var(--black);
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

button {
  padding: 0;
  border: 0;
  background: transparent;
  cursor: pointer;
}

h1, h2, h3, h4, p {
  margin: 0;
}

.layout {
  min-height: 100vh;
  max-width: 1400px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}
.centered {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 20px 0;
}
.back-link {
  color: var(--orange);
  font-size: 42px;
  line-height: 56px;
  position: relative;
  &::after {
    content: "";
    position: absolute;
    left: 0;
    width: 100%;
    bottom: -2px;
    height: 3px;
    background-color: var(--orange);
    transition: all .3s ease-in-out;
    transform: scale(0);
  }
  &:hover::after {
    transform: scale(1);
  }
}