.sortBlock {
  background-color: var(--white);
  padding: 11px 20px;
  border-radius: 7px;
  margin: 0 0 20px;
  &.disabled {
    filter: grayscale(1);
    pointer-events: none;
  }
}

@media all and (min-width: 1024px) {
  .sortBlock {
    background-color: transparent;
    padding: 0;
    margin: 0;
    border-radius: 0;
  }
}

.sort-dropdown {
  padding: 8px 24px;
  min-width: 170px;
  &__top {
    display: flex;
    align-items: center;
    gap: 5px;
    span {
      &::first-letter {
        text-transform: uppercase;
      }
    }
  }
}